.header{
    max-height: 52px;
    max-width: 1184px;
    margin: 0 auto;
    padding-bottom: 56px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

@media screen and (max-width: 1024px){
    .header{
        max-width: 928px;
        padding-bottom: 48px;
    }
}