.places{
  max-width: 984px;
  margin: 0 auto;
  padding-bottom: 92px;
  display: grid;
  gap: 80px;
}

@media screen and (max-width: 1024px){
  .places{
    max-width: 928px;
    padding: 0 24px 92px 24px;
  }
}